<!DOCTYPE html>
<html>
  <head>
    <title>BookReview</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= render 'partials/sidebar' %>
        <div class="container">
          <%= render 'partials/flashes' %>
          <%= yield %>
        </div>
      <%= render 'partials/footer' %>
    <% else %>
      <%= yield %>
    <% end %>
  </body>
</html>
